{% extends "base.html" %}
{%block start%}
    <body>
        <div class="container">
            <h1>About Us</h1>
            <p>Welcome to Devgad Alphanso - Your Premier Destination for Fresh and Delicious Mangoes!</p>
            
            <h2>Our Roots</h2>
            <p>With a legacy spanning over two decades, the love for mangoes runs deep in our family. For generations, we've been dedicated to delivering the finest quality mangoes, grown with care and expertise.</p>
            
            <h2>Our Journey</h2>
            <p>As a developer at CDAC, I've embarked on a mission to expand our family's mango business into the digital realm. Drawing from our rich heritage and the trust of our loyal customers, MangoMart was born.</p>
            
            <h2>Our Commitment</h2>
            <p>At Mango Infinity, we uphold the values instilled in us by our family - integrity, quality, and customer satisfaction. Each mango we offer is a testament to our dedication to excellence.</p>
            
            <h2>Why Choose Devgad Alphanso?</h2>
            <ul>
                <li><strong>Premium Quality:</strong> Our mangoes are handpicked with care, ensuring unparalleled taste and freshness.</li>
                <li><strong>Direct Sourcing:</strong> We maintain direct relationships with growers, guaranteeing the finest produce at competitive prices.</li>
                <li><strong>Family Tradition:</strong> For generations, our family has delighted customers with the juiciest mangoes. Now, we bring that tradition to you, wherever you are.</li>
            </ul>
            
            <p>Experience the joy of indulging in nature's finest creation with MangoMart. Explore our wide selection of mouthwatering mango varieties and place your order today! For inquiries, feedback, or assistance, feel free to <a href="/contact/">contact us</a>.</p>
            
            <p>Thank you for choosing Devgad Alphanso - Where Freshness Meets Flavor!</p>
        </div>
    </body>
    

{%endblock%}